<style>
    #similarThree-box{        
        overflow-x: scroll;
        padding: 15px;          
        border-radius: 15px;  
        text-shadow:0px 0px; 
    }
    #similarThree-card title{          
        text-shadow:0px 0px; 
    }
    #similarThree-card img{
        border-radius: 15px;
    }
</style>

<div class="container-fluid" id="similarThree-box">
    <div class="row flex-row flex-nowrap">
        <% Object.keys(castAndCrewInfo.crew).forEach((key)=> {%>
            <div class="card text-dark bg-light" id="similarThree-card">        
                <h5 class="card-title" style="text-shadow: none;"><b><%= castAndCrewInfo.crew[key]['job'] %></b></h5>            
              <div class="card-body">
                <h5 class="card-title" style="text-shadow: none;"><%= castAndCrewInfo.crew[key]['name'] %></h5>                       
              </div>              
            </div>
            <%}) %>     
    </div>
</div>